* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.slide {
    height: 100vh;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark {
    background: #0f172a;
    color: white;
}

.light {
    background: #f1f5f9;
    color: #111;
}

.center {
    text-align: center;
}

.big {
    font-size: 70px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
}

p {
    margin-top: 10px;
    line-height: 1.6;
}

ul {
    margin-top: 20px;
    padding-left: 20px;
    line-height: 1.8;
}
