* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.slide {
    height: 100vh;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark {
    background: #0f172a;
    color: white;
}

.light {
    background: #f1f5f9;
    color: #111;
}

.center {
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
